<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.emos.wx.db.mapper.SysConfigMapper">

    <resultMap id="BaseResultMap" type="com.example.emos.wx.db.pojo.SysConfig">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="paramKey" column="param_key" jdbcType="VARCHAR"/>
            <result property="paramValue" column="param_value" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="BOOLEAN"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,param_key,param_value,
        status,remark
    </sql>

    <select id="selectById" parameterType="java.lang.String" resultType="SysConfig">
        select * from sys_config where id=#{id,jdbcType=VARCHAR}
    </select>

    <select id="selectAllParam" resultType="com.example.emos.wx.db.pojo.SysConfig">
	SELECT param_key, param_value FROM sys_config WHERE status = 1;
</select>


</mapper>
